<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376866163821-bb3hi063eb2k8r6rqfpe296lc6oko511.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376866163821-bb3hi063eb2k8r6rqfpe296lc6oko511</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376866163821-4dtn02pndl6dkd8b8lql6c8d9eos96s8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAY6ZUT3GSlkuNiZZMSxRTC5jolrvvHA8k</string>
	<key>GCM_SENDER_ID</key>
	<string>376866163821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dotdev.farmx</string>
	<key>PROJECT_ID</key>
	<string>farmx-4ef60</string>
	<key>STORAGE_BUCKET</key>
	<string>farmx-4ef60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376866163821:ios:79b6e2481d7d1361758364</string>
	<key>DATABASE_URL</key>
	<string>https://farmx-4ef60-default-rtdb.firebaseio.com</string>
</dict>
</plist>